@import url("https://fonts.googleapis.com/css?family=Source Code Pro&display=swap");
$background-color: #fff4eb;
$text-color: #25362a;
$primary-color: #1e81b0;
$secondary-color: #cc8020;
$border-color: lighten(black, 50);
$divider-color: rgba(black, 0.2);
$flex-gap: 10px;

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $text-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navigation {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: $flex-gap;
  flex-wrap: wrap;
}

.content {
  max-width: 800px;
  margin: 20px auto 40px auto;
  padding: 0px 20px;
}

.not-found {
  text-align: center;
}

a {
  color: $primary-color;
}

a:hover {
  color: $secondary-color;
}

a.navigation-item {
  text-decoration: none;
  color: $text-color;
}

a.navigation-item:hover {
  color: $secondary-color;
}

a.active {
  font-weight: bold;
  color: $primary-color;
}

hr {
  margin: 1px;
  border: 0.5px solid $divider-color;
}

button {
  cursor: pointer;
  font-size: medium;
  background-color: transparent;
  border: none;
  padding: 0px;
  color: $primary-color;
}

button:hover {
  color: $secondary-color;
}

.button-group {
  display: flex;
  gap: $flex-gap;
  flex-wrap: wrap;
}
