@import "./global.scss";

.portfolio-posts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: $flex-gap;

  h3 {
    margin: 0px;
  }
}

.portfolio-post-preview {
  padding: 0px 10px;
}

.post {
  display: flex;
  flex-direction: column;

  img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
  }

  code {
    background-color: darken($background-color, 5);
    padding: 5px;
    border-radius: 5px;
    line-height: 30px;
  }
}
