@import "./global.scss";

.face-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mugshot {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  border: 2px solid $border-color;
}

.code-block {
  border-radius: 5px;
  line-height: 1.5;
  padding: 15px 20px !important;
}
